@model Site.Models.AuthenticationRequest

<h2 style="color:white" id="TitleName">Вход для администратора</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name" style="color:white;text-align:left"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Password" style="color:white;text-align:left"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <br />
        <input type="submit" value="Войти" />
    </div>
</form>